@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --cor-de-fundo1:#dfbcf7;
    --cor-de-fundo2:#bbf1ef;
    --cor-de-fundo3:#f8bfc8;
}

body{
    background: linear-gradient(var(--cor-de-fundo1),var(--cor-e-fundo2),var(--cor-de-fundo3));
}

h1{
    font-family: 'Caveat';
    font-size: 45px;
    text-align: center;
}

h2 i{
    font-family: var(--fonte-principal--);
    font-size: 35px;
}

h3{
    font-family: var(--fonte-principal);
    font-size: 30px;
}

h4{
    font-family: var(--fonte-pricipal);
    font-size: 25px
}